<span><%= message.content %></span><br>
<span class="inline italic"><%= message.sender.user_name %></span> |
<span class="inline italic"><%= message.message_time %></span> |
<span class="inline italic"><%= link_to new_user_message_path(message.sender_id) do %><i class="fa fa-envelope" aria-hidden="true"></i><% end %> Reply</span>