<h3><%= Time.now.strftime('%a, %b %d') %></h3>

<table>
  <tr>
    <th>Time</th>
    <th>Height</th>
    <th>H/L</th>
  </tr>
  <% @tides.current_day.each do |tide| %>
  <tr>
    <td><%= tide.convert_time %></td>
    <td class="center"><%= tide.predictions_in_ft %> ft</td>
    <td class="center"><%= tide.highlow %></td>
  </tr>
    <% end %>
</table>
