<p><%= link_to 'Start conversation', new_message_path %></p>

<ul class="list-group">
  <% @conversations.each do |conversation| %>
    <%= render 'conversations/conversation' %>
    <% end %>
</ul>

<%= will_paginate %>