<%= render 'calendar_nav' %>
<div class="container">
<%= month_calendar events: @events do |date, events| %>
  <%= date.strftime('%d') %><br>
  <% events.each do |event| %>
  <%= event.name %><br>
  <% end %>
<% end %>
</div>