/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 *= require hover
 */
body, h1, h3, p, span {
  font:'Trebuchet MS', serif;
  color: #000066;
}
input.optional {
  padding: 10px;
  font-size: 1.5em;
  border-radius: 8px;
  font-size: 18px;
  border: none;
  font: 18px 'Trebuchet MS', serif;
  margin: 20px;
}
input.required {
  padding: 10px;
  font-size: 1.5em;
  border-radius: 8px;
  border: none;
  font-family: 'Trebuchet MS', serif;
  margin: 10px 5px 20px 5px;
}
textarea{
  border-radius: 8px;
  border: none;
  padding:10px;
}
label.required {
  padding-top: 14px;
  font-size: 1.5em;
  font-family: 'Trebuchet MS', serif;
  margin: 10px 5px 10px 5px;
  color: #000066;
}
label.checkbox {
  font-size: 1.2em;
  font-family: 'Trebuchet MS', serif;
  color: #000066;
}
.radio label {
  font-size: 1.5em;
  font-family: 'Trebuchet MS', serif;
  color: #000066;
  margin: 0 5px 0 5px;
  display: inline;
}
select.select.required {
  font-size: 1.5em;
  font-family: 'Trebuchet MS', serif;
  background-color: rgba(255,255,255, 0.5);
  border: none;
  color: #000066;
}
.form-actions input.btn {
  text-align: center;
  width: 40%;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgba(199,221,149, 0.6);
  border-radius: 8px;
  border: none;
  color: #000066;
  font-family: 'Trebuchet MS', serif;
  margin: 40px 5px 20px 5px;
}

/*Home*/
.button_to input{
  text-align: center;
  width: 40%;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  background: #C7DD95;
  border-radius: 8px;
  border: none;
  color: #000066;
  font-family: 'Trebuchet MS', serif;
}
.button-space {
  margin: 20px;
}

/*Top Nav*/
.navbar .navbar-nav {
  display: inline-block;
}
nav ul {
  list-style-type: none;
  padding: 5px;
  overflow: hidden;
  background: rgba(10,10,100, 0.6);
  border-radius: 8px;
}
nav a{
  float: right;
  text-decoration: none;
  font-size: 1.2em;
  color: #c2d6d6;
}
nav a:hover {
  background: #327C6E !important;
  border-radius: 8px
}

#greeting {
  float: left;
  color: #c2d6d6;
  padding: 10px 15px;
  font-size: 1.2em;
  display: inline;
}
/*Index*/
h1 {
  padding-bottom: 40px;
}
.container {
  background-color: rgba(255,255,255, 0.5);
  color: inherit;
  border-radius: 8px;
  padding: 5%;
  text-align: center;
}
.run-index {
  padding: 10px;
  border-bottom: 2px #000066 dotted;
}
.run-top {
  padding-bottom: 10px;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.inline {
  display: inline;
}
.right{
  float: right;
}
.left {
  float: left;
}

/*TABS*/
.tab-body{
      margin-top: 40px;
      line-height: 1.6;
    }
    .tab-container{
      margin: 0 auto;
    }
    ul.tabs{
      margin: 0px;
      padding: 0px;
      list-style: none;
      border-radius: 8px;
    }
    ul.tabs li{
      background: rgba(10,100,100, 0.5);
      color: #000066;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 8px;
    }
    ul.tabs li.current{
      background: rgba(255,255,255, 0.5);
      border-radius: 8px;
    }
    .tab-content{
      display: none;
      background: rgba(255,255,255, 0.5);
      padding: 10px 15px;
      min-height: 100px;
    }
    .tab-content.current{
      display: inherit;
      border-radius: 8px;
    }

